<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Solicitações senha</title>
</head>
<body>
	<h1>Escolha a sua solicitação</h1>
	
	<a title="Editar" th:href="@{/senhas/1}">Tiquetes ordenados</a>
	<br /><br />
	<a title="Editar" th:href="@{/senhas/2}">Tiquetes ordenados, na Frente</a>
	<br /><br />
	<a title="Editar" th:href="@{/senhas/3}">Tiquetes ordenados, na Frente e tempo previsto</a>
	<br /><br />
	<a title="Editar" th:href="@{/senhas/4}">Imprimir tempo de espera.</a>
</body>
</html>